.resultChart .chartLine:nth-child(1) {
  transition: width 0.5s 0.01s;
}

.resultChart .chartLine:nth-child(2) {
  transition: width 0.5s 0.02s;
}

.resultChart .chartLine:nth-child(3) {
  transition: width 0.5s 0.03s;
}

.resultChart .chartLine:nth-child(4) {
  transition: width 0.5s 0.04s;
}

.resultChart .chartLine:nth-child(5) {
  transition: width 0.5s 0.05s;
}

.resultChart .chartLine:nth-child(6) {
  transition: width 0.5s 0.06s;
}

.resultChart .chartLine:nth-child(7) {
  transition: width 0.5s 0.07s;
}

.resultChart .chartLine:nth-child(8) {
  transition: width 0.5s 0.08s;
}

.resultChart .chartLine:nth-child(9) {
  transition: width 0.5s 0.09s;
}

.resultChart .chartLine:nth-child(10) {
  transition: width 0.5s 0.1s;
}

.resultChart .chartLine:nth-child(11) {
  transition: width 0.5s 0.11s;
}

.resultChart .chartLine:nth-child(12) {
  transition: width 0.5s 0.12s;
}

.resultChart .chartLine:nth-child(13) {
  transition: width 0.5s 0.13s;
}

.resultChart .chartLine:nth-child(14) {
  transition: width 0.5s 0.14s;
}

.resultChart .chartLine:nth-child(15) {
  transition: width 0.5s 0.15s;
}

.resultChart .chartLine:nth-child(16) {
  transition: width 0.5s 0.16s;
}

.resultChart .chartLine:nth-child(17) {
  transition: width 0.5s 0.17s;
}

.resultChart .chartLine:nth-child(18) {
  transition: width 0.5s 0.18s;
}

.resultChart .chartLine:nth-child(19) {
  transition: width 0.5s 0.19s;
}

.resultChart .chartLine:nth-child(20) {
  transition: width 0.5s 0.2s;
}

.resultChart .chartLine:nth-child(21) {
  transition: width 0.5s 0.21s;
}

.resultChart .chartLine:nth-child(22) {
  transition: width 0.5s 0.22s;
}

.resultChart .chartLine:nth-child(23) {
  transition: width 0.5s 0.23s;
}

.resultChart .chartLine:nth-child(24) {
  transition: width 0.5s 0.24s;
}

.resultChart .chartLine:nth-child(25) {
  transition: width 0.5s 0.25s;
}

.resultChart .chartLine:nth-child(26) {
  transition: width 0.5s 0.26s;
}

.resultChart .chartLine:nth-child(27) {
  transition: width 0.5s 0.27s;
}

.resultChart .chartLine:nth-child(28) {
  transition: width 0.5s 0.28s;
}

.resultChart .chartLine:nth-child(29) {
  transition: width 0.5s 0.29s;
}

.resultChart .chartLine:nth-child(30) {
  transition: width 0.5s 0.3s;
}

.resultChart .chartLine:nth-child(31) {
  transition: width 0.5s 0.31s;
}

.resultChart .chartLine:nth-child(32) {
  transition: width 0.5s 0.32s;
}

.resultChart .chartLine:nth-child(33) {
  transition: width 0.5s 0.33s;
}

.resultChart .chartLine:nth-child(34) {
  transition: width 0.5s 0.34s;
}

.resultChart .chartLine:nth-child(35) {
  transition: width 0.5s 0.35s;
}

.resultChart .chartLine:nth-child(36) {
  transition: width 0.5s 0.36s;
}